/* Light mode styles */
.light-mode {
  background-color: #fff;
  color: #000;
}

.light-mode tr, 
.light-mode th,
.light-mode td {
  background-color: #fff !important;
  color: #000 !important;
}

.light-mode label,
.light-mode h1,
.light-mode h2,
.light-mode h3,
.light-mode h4,
.light-mode h5,
.light-mode h6,
.light-mode p,
.light-mode th,
.light-mode td {
  color: #000;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode tr,
.dark-mode th,
.dark-mode td {
  background-color: #333 !important;
  color: #fff !important;
}

.dark-mode label,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p, 
.dark-mode th,
.dark-mode td {
  color: #fff;
}
