:root {
  --background-color: #fff;
  --text-color: #000;
}

.color-theme {
  background-color: var(--background-color);
  color: var(--text-color);
}

.color-theme tr,
.color-theme th,
.color-theme td {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.color-theme label,
.color-theme h1,
.color-theme h2,
.color-theme h3,
.color-theme h4,
.color-theme h5,
.color-theme h6,
.color-theme p,
.color-theme th,
.color-theme td {
  color:  var(--text-color);
}

